<audio id="music">
    <source src="/img/music.mp3" type="audio/mp3">
</audio>
{{!-- <input type="range" min="0" max="1" value="0.5" step="0.001" id="volume-meter"> --}}
<div class="hub-container">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON</a>
        </div>
        <div id="header-right"class="header-right">
            <img id="header-music-logo" src="/img/muted.png" onclick="musicOnOff()" alt="muted">
        </div>
    </div>
    <div class="hub-options-container">
        <button class="nes-btn is-warning" onclick="location.href='/ranking'">RANKING</button>
        <button class="nes-btn is-warning" onclick="location.href='/teams'">EQUIPO</button>
        <button class="nes-btn is-warning" onclick="searchGameRandom('team')">JUGAR EQUIPOS</button>
        <button class="nes-btn is-warning" onclick="searchGameRandom('random')">JUGAR RANDOM</button>
        <button class="nes-btn is-warning" onclick="location.href='/profile'">PERFIL</button>
    </div>
    <div class="hub-main-container">
        <div class="hub-main-container-left">
            <div class="hub-main-container-left-mini">
                <div class="hub-main-container-left-mini-title">
                    <p>EQUIPO</p>
                </div>
                <div class="hub-main-container-pokemon">
                    <div class="hub-main-container-pokemon-mini"> 
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/200.png">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/182.png">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
                    </div>
                    <div class="hub-main-container-pokemon-mini">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/700.png">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/672.png">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/507.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="hub-main-container-mid">
            <div class="hub-main-container-mid-mini">
                <div id="hub-title" class="hub-title">
                    <p>{{{user}}}</p>
                </div>
                <div class="hub-avatar" id="avatar-container">
                    <div class="hub-avatar-left">
                        <img id="left-arrow" src="/img/flecha-izq.png" onclick="changeAvatar('left')">
                    </div>
                    <div class="hub-avatar-mid">
                        <img id="avatar" src="/img/{{{sprite}}}" alt={{{spritenumber}}}>
                    </div>
                    <div class="hub-avatar-right">
                        <img id="right-arrow" src="/img/flecha-der.png" onclick="changeAvatar('right')">
                    </div>
                </div>
            </div>
        </div>
        <div class="hub-main-container-right">
            <div class="hub-main-container-right-mini">
                <div class="hub-main-container-right-mini-title">
                    <p>TOP 5</p>
                </div>
                <div class="hub-main-container-right-mini-info">
                    <div class="hub-top-5-info">
                        {{#each rankers}}
                            <p>{{{this.user}}}</p><p>{{{this.elo}}}</p>               
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/hub.js"></script>