<audio id="music" loop="loop">
    <source src="/img/music.mp3" type="audio/mp3">
</audio>
<div class="hub-container">
    <div class="header">
        <div class="header-left">
            <ul class="menu-horizontal">
                <li>
                    <a><img src="img/POKEBALL.png" alt="menu" class="menu"></a>
                    <ul id="menu-vertical" class="menu-vertical">
                        <li><a href="/hub">INICIO</a></li>
                        <li><a href="/ranking">RANKING</a></li>
                        <li><a href="/teams">EQUIPO</a></li>
                        <li><a href="/queueTeams">JUGAR EQUIPOS</a></li>
                        <li><a href="/queueRandom">JUGAR RANDOM</a></li>
                        <li><a href="/profile">PERFIL</a></li>
                        <li style="background-color: rgb(143, 139, 139); border-bottom-left-radius:10px; border-bottom-right-radius:10px;"><a href="/logout">LOG-OUT</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON COLISEUM</a>
        </div>
        <div id="header-right"class="header-right">
            <ul class="menu-horizontal">
                <li>
                    <img id="header-music-logo" src="/img/muted.png" style="margin-bottom: 20px; margin-left: 100px; margin-top: 35px; height: 36px; width: 42px; cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;" onclick="musicOnOff()" alt="muted">
                    <ul id="menu-vertical" class="menu-vertical">
                        <li><a><input type="range" min="0" max="1" value="0.2" step="0.001" id="volume-meter"></a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>
    <div class="hub-options-container">
        <button class="nes-btn is-warning" onclick="location.href='/ranking'">RANKING</button>
        <button class="nes-btn is-warning" onclick="location.href='/teams'">EQUIPO</button>
        <button class="nes-btn is-warning" onclick="location.href='/play'">JUGAR</button>
        <button class="nes-btn is-warning" onclick="location.href='/profile'">PERFIL</button>
    </div>
    <div class="hub-main-container">
        <div class="hub-main-container-left">
            <div class="hub-main-container-left-mini">
                <div class="hub-main-container-left-mini-title">
                    <p>EQUIPO</p>
                </div>
                <div class="hub-main-container-pokemon">
                    <div class="hub-main-container-pokemon-mini"> 
                        <img src="{{p1}}">
                        <img src="{{p2}}">
                        <img src="{{p3}}">
                    </div>
                    <div class="hub-main-container-pokemon-mini">
                        <img src="{{p4}}">
                        <img src="{{p5}}">
                        <img src="{{p6}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="hub-main-container-mid">
            <div class="hub-main-container-mid-mini">
                <div id="hub-title" class="hub-title">
                    <p id="hub-title-user" value="{{user}}">{{{user}}}</p>
                </div>
                <div class="hub-avatar" id="avatar-container">
                    <div class="hub-avatar-left">
                        <img id="left-arrow" src="/img/flecha-izq.png" onclick="changeAvatar('left')">
                    </div>
                    <div class="hub-avatar-mid">
                        <img id="avatar" src="/img/{{{sprite}}}" alt={{{spritenumber}}} >
                    </div>
                    <div class="hub-avatar-right">
                        <img id="right-arrow" src="/img/flecha-der.png" onclick="changeAvatar('right')">
                    </div>
                </div>
            </div>
        </div>
        <div class="hub-main-container-right">
            <div class="hub-main-container-right-mini">
                <div class="hub-main-container-right-mini-title">
                    <p>TOP 5</p>
                </div>
                <div class="hub-main-container-right-mini-info">
                    <div class="hub-top-5-info">
                        {{#each rankers}}
                        <div class="hub-top-5-info-container">
                            <p class="hub-top-5-info-users">{{{this.user}}}</p><p class="hub-top-5-info-elo">{{{this.elo}}}</p>               
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/hub.js"></script>